.git
.gitignore
.idea
.vscode
.cache
__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd
*.h5
*.pt
*.ckpt
*.xlsx
*.deb

outputs
output
tmp
test
wandb
lightning_logs
nohup
figure

data_samples
dataset_h5
dataset_h5_ant_running
scaling_dataset_h5_30env
Trajworld_data
Trajworld
pre_trained
trajworld_ckpt
CTFM

cuda-keyring_1.1-1_all.deb
